

.modal-footer:after {
  clear: both;
}

button,
input,




.btn,
.close {
  line-height: 20px;
}

.btn {
  text-align: center;
}

.btn {
  display: inline-block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
  filter: alpha(opacity=40);
}

.btn {
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #333;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn:active,
.btn:focus,
.btn:hover {
  text-decoration: none;
  color: #333;
  background-color: #fcfcfc;
  border-color: #ccc;
}

.btn:focus {
  outline: #333 dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn-primary {
  color: #fff;
  background-color: #07d;
  border-color: #006cc9;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #0080ed;
  border-color: #0066be;
}

button.btn::-moz-focus-inner,
input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.tab-content {
  overflow: auto;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.popover {
  display: none;
}

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #ccc;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #ccc;
}

.modal-footer {
  text-align: right;
}

.modal-footer {
  margin-bottom: 0;
}

.popover {
  -webkit-background-clip: padding-box;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.popover {
  position: absolute;
}

.modal-footer {
  padding: 14px 15px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}

.modal-footer:after,
.modal-footer:before {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.popover {
  top: 0;
  left: 0;
  z-index: 1010;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.popover.bottom {
  margin-top: 10px;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0,0,0,.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #fff;
  border-top-width: 0;
}

/*** uncss> filename: http://127.0.0.1:8079/youzan/css/lib/pc_62aa96d559.css ***/

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 5px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: none;
}

.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.popover-content {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 3px;
  background-clip: padding-box;
}

.popover.bottom {
  margin-top: 5px;
}

.popover.bottom .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}

.modal-body {
  max-height: none;
}

.btn {
  font-size: 12px;
}



ul {
  list-style: none;
}


input,
textarea {
  font-size: 12px;
  font-family: Helvetica,STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif;
}

a {
  color: #07d;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #07d;
  text-decoration: none;
}

.modal-header .title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

input[type="text"] {
  font-size: 12px;
}

.ui-form .control-group::last-of-type {
  margin-bottom: 10px;
}

/*** uncss> filename: http://127.0.0.1:8079/youzan/css/quick_reply_88037dc212.css ***/

.vbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.simple-editor {
  position: relative;
  /*border: 1px solid #dcdcdc;*/
}

.simple-editor .tab-content {
  overflow: visible;
}

.simple-editor .simple-editor-nav {
  width: 100%;
  padding: 0;
  zoom: 1;
}

.simple-editor .simple-editor-nav:after {
  content: "";
  display: table;
  clear: both;
}

.simple-editor .simple-editor-nav>li {
  float: left;
}

.simple-editor .inputer {
  width: 100%;
  /*height: 160px;*/
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.simple-editor .inputer-actions {
  position: relative;
  /*border-top: 1px solid #dcdcdc;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

.simple-editor .inputer-actions .word-counter {
  position: absolute;
  top: 9px;
  right: 14px;
}

.simple-editor .inputer-action {
  position: relative;
  z-index: 10;
  padding: 8px 0px 8px 8px;
  margin: 0 5px;
}

.simple-editor .inputer-action>a {
  color: #999;
}

.simple-editor .inputer-action i,
.simple-editor .inputer-action span {
  display: inline-block;
  vertical-align: middle;
}

.simple-editor .inputer-area {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.simple-editor .inputer-area .transparent-txta {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto;
  height: 100%;
  resize: none;
  margin: 0;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.5em;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0;
}

.simple-editor .inputer-area .transparent-txta:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border: none;
  outline: none !important;
}

.simple-editor .ico-simple-editor {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,0.75)  url("/v2/image/message/simple_editor_sprite@1x.png") 0 0 no-repeat;
  background-image: -webkit-image-set( url("/v2/image/message/simple_editor_sprite@1x.png") 1x,  url("/v2/image/message/simple_editor_sprite@2x.png") 2x);
}

.simple-editor .ico-simple-editor.ico-editor-emoticon {
  background-position: 2px 2px;
}

.simple-editor .ico-simple-editor.ico-editor-hyperlink {
  background-position: 2px -23px;
}

.simple-editor .popover {
  position: absolute;
  top: 25px;
  left: 0px;
}

.simple-editor .popover.bottom .arrow {
  left: 35px;
  border-bottom-color: #dcdcdc;
}

.simple-editor .popover-content {
  border: 1px solid #dcdcdc;
}

.simple-editor .inputer-action-emoticon .popover .popover-content {
  padding: 0;
}

.simple-editor .hyperlink {
  width: 280px;
}

.simple-editor .hyperlink .txt {
  margin-bottom: 0;
}

.modal-body {
  overflow-y: visible;
}

.container {
  width: 940px;
}

.container:after,
.container:before {
  content: "";
  display: table;
  line-height: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}



.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #ccc;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #ccc;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}






.container {
  zoom: 1;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

.app {
  width: 100%;
  float: left;
}

.app-inner {
  min-height: 800px;
  margin: 0 0 0 150px;
  padding-bottom: 60px;
  background-color: #fff;
}




.app__content:after {
  content: "";
  display: table;
  clear: both;
}

.notify-bar {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 850px;
  font-size: 14px;
}

.ui-form .control-group::last-of-type {
  margin-bottom: 10px;
}

.app-design .app-preview {
  position: relative;
  float: left;
  width: 350px;
  
  border-bottom-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 18px 18px 0 0;
}

.app-design .app-preview .app-header {
  height: 70px;
  background: url("/v2/image/widget/showcase/iphone_head.png") no-repeat center center;
}

.app-design .app-preview .app-entry {
  width: 320px;

  padding-bottom: 11px;
  min-height: 200px;
  border: 1px solid #c5c5c5;
  background: #f9f9f9;
}

.app-design .app-preview .app-config .app-field {
  cursor: pointer;
  background-color: transparent;
}

/*.app-design .app-preview .app-config .app-field:hover {
  background-color: transparent;
}*/

.app-design .app-preview .app-config .app-field h1 {
  padding: 18px 60px 0 60px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: url(../../img/titlebar.png) no-repeat;
}

.app-design .app-preview .app-config .app-field h1 span {
  display: inline-block;
  height: 46px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.app-design .app-preview .app-field {
  position: relative;
  cursor: move;
  -webkit-user-select: none;
}

/*.app-design .app-preview .app-field:hover {
  background-color: #f2f2f2;
}*/

/*.app-design .app-preview .app-field:hover .actions {
  display: inline-block;
}*/

.app-design .app-preview .app-add-field {
  position: relative;
  left: -1px;
  top: -1px;
  border: 1px solid #ddd;
}

.app-design .app-preview .app-add-field:before,
.app-design .app-preview .app-add-field:after {
  position: absolute;
  content: ' ';
  border: 8px solid transparent;
  border-bottom-width: 10px;
  border-bottom-color: #f8f8f8;
  top: -18px;
  left: 167px;
}

.app-design .app-preview .app-add-field:before {
  top: -19px;
  border-bottom-color: #ddd;
}

.app-design .app-preview .app-fields .app-field {
  position: relative;
}

.app-design .app-preview .app-fields .app-field:last-child {
  border-bottom: none;
}

.app-design .app-preview .actions {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 320px;
  border: 2px dashed rgba(255, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}

.app-design .app-preview .actions .actions-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
}

.app-design .app-preview .actions span {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0 5px;
  margin-left: 1px;
  font-size: 12px;
}

/*.app-design .app-preview .actions span:hover {
  color: #ddd;
  cursor: pointer;
}*/

.app-design .app-add-field {
  position: relative;
  padding: 0 14px 4px 14px;
  background: #f8f8f8;
  width: 350px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-design .app-add-field h4 {
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .app-design .app-preview .app-header {
    background-image: url("/v2/image/widget/showcase/iphone_head@2x.png");
    background-size: 80px 34px;
  }

  .app-design .app-preview .app-config .app-field h1 {
    background-image: url("/v2/image/widget/showcase/titlebar@2x.png");
    background-size: 320px 64px;
  }
}

/*** uncss> filename: http://127.0.0.1:8079/youzan/css/image_text_28e2a4d1aa.css ***/

.app-add-image-text {
  display: block;
  cursor: pointer;
}

.appmsg {
  width: 268px;
  position: relative;
  margin: 10px;
}

.appmsg-title {
  word-break: break-all;
}

.appmsg-multiple .appmsg-multiple-others {
  width: 268px;
  position: relative;
  min-height: 40px;
}

.appmsg-multiple .appmsg-multiple-others .appmsg-title {
  padding-right: 70px;
  word-break: break-all;
}

.appmsg-multiple .appmsg-multiple-others .appmsg-thumb-wrap {
  position: absolute;
  right: 0;
  top: -5px;
  width: 50px;
  height: 50px;
}

.appmsg-multiple .appmsg-multiple-others .appmsg-thumb-wrap p {
  color: #C0C0C0;
  background-color: #ECECEC;
  line-height: 50px;
  font-size: 10px;
  text-align: center;
}

.appmsg-multiple .appmsg-multiple-first {
  height: 150px;
}

.appmsg-multiple .appmsg-multiple-first .appmsg-thumb-wrap {
  overflow: hidden;
  height: 150px;
  text-align: center;
  position: relative;
  top: 0;
  right: 0;
}

.appmsg-multiple .appmsg-multiple-first .appmsg-thumb-wrap p {
  color: #C0C0C0;
  text-align: center;
  line-height: 150px;
  font-weight: 400;
  font-style: normal;
  background-color: #ECECEC;
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.appmsg-multiple .appmsg-multiple-first .appmsg-title {
  word-break: break-all;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  line-height: 28px;
  width: 100%;
  max-height: 56px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.appmsg-view-full,
.appmsg-meta {
  display: none;
}

.app-fields.ui-sortable {
  margin: 10px 15px;
  border: 1px solid #AEAEAE;
}

.app-fields.ui-sortable .app-field {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.app-fields.ui-sortable .app-field:last-child {
  border-bottom: 0 none;
}

/*.app-design .app-preview .app-field.not-sortable {
  cursor: pointer;
}*/

/*.app-design .app-preview .app-config .app-field {
  cursor: default;
}*/

.app-design .app-preview .actions {
  border: 0 none;
  width: 288px;
}

/*** uncss> filename: http://127.0.0.1:8079/youzan/css/lib/ueditor.css ***/

/*åŸºç¡€UIæž„å»º
*/

/* common layer */

.edui-default .edui-box {
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.edui-box {
  position: relative;
  display: -moz-inline-box !important;
  display: inline-block !important;
  vertical-align: top;
}

