* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-size: 12px;
	font-family: "ו";
	color: #000;
	background-color: transparent;
	padding: 5px;
	overflow-x: hidden;
}
.relatedtabs_tabs {
}
.relatedtabs_tabs a {
	
	text-decoration: none;
	color: #555555;	
	display: inline-block;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 0px;	
	background-color:#C4C4C4;
}

.relatedtabs_tabs a.activated {
	color: #ffffff;
	font-weight:800;
	background-color:#787878;
}

.relatedtabs_tabs a span {
	white-space:nowrap;
	cursor:hand;
	float: left;
	height: 22px;
	display: block;
	padding-right: 10px;
	background-color:#C4C4C4;
}

.relatedtabs_tabs a.activated span {
	background-color:#787878;
}

.relatedtabs_main {
	width: 100%;
	height:600px;
	color: #336699; 
	border-color: #787878;
	border-width: 1px;
	border-style: solid;
	overflow: auto; 
}

.relatedtabs_main div {
	position: relative;
	height: 100%;
}
	
.relatedtabs_main_iframe {
	position: relative;
	width: 100%;
	border: 0px;
	height:100%;
}

